@import 'vars';

#footer {
	width: 100%;
	background: #f5f5f5;
	.container {
		max-width: 1170px;
		height: 100%;
		margin: 0 auto;
		padding: 30px 0;

		.top_footer {
			display: flex;
			justify-content: space-between;
			.bottom_cat_menu {
				width: 300px;
			}
			.bottom_main_menu {
				width: 170px;
			}
			.bottom_cat_menu, .bottom_main_menu {
				.bottom_menu_title {
					text-transform: uppercase;
					font: 600 20px $font;
					margin-bottom: 15px;
				}
				ul {
					> li {
						margin-top: 5px;
						a {
							color: $main_color;
							font: 400 17px $font;
							text-decoration: none;
						}
					}
				}
			}
			.social_media {
				display: flex;
				flex-direction: column;
				max-width: 270px;
				.social_media_title {
					text-transform: uppercase;
					font: 600 20px $font;
					margin-bottom: 15px;
				}
				ul {
					display: flex;
					flex-wrap: wrap;
					li {
						margin-right: 15px;
						margin-bottom: 20px;
						> a {
							color: #fff;
							background: $main_color;
							font-size: 30px;
							display: block;
							width: 55px;
							height: 55px;
							border-radius: 50%;
							line-height: 57px;
							text-align: center;
							opacity: 0.7;
							transition: all .2s ease;
							&.vk {
								background: #4B75A3;
							}
							&.fb {
								background: #3D5A98;
							}
							&.tw {
								background: #38A8E0;
							}
							&.linked {
								background: #297AB9;
							}
							&.yt {
								background: #E21A20;
							}
							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}

			.search {
				.search_title {
					text-transform: uppercase;
					font: 600 20px $font;
					margin-bottom: 15px;
				}
				#search {
					height: 30px;
					border: 1px solid #ddd;
          width: 200px;
          padding: 0 10px;
          font: 400 16px $font;
				}
			}

		}

		.copyright {
			margin-top: 40px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			color: #999;
			.conditions {
				font: 400 15px $font;
			}
			.copy {
				font: 600 16px $font;
        margin: 20px 0 15px;
			}
		}
	}
}
