@import 'vars';

header {
	.container {
		max-width: 1170px;
		margin: 0 auto;

		#top_slider {
			width: 100%;
			height: 220px;
			padding-top: 10px;
			background: #D8EFF5;
			margin-bottom: 20px;
			margin-top: 10px;
			text-align: center;
		}

		.top_menu {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			padding-bottom: 15px;
			border-bottom: 1px solid #000;
			position: relative;

			.top_nav_left {
				ul {
					display: flex;
					li {
						margin-right: 30px;
					}
				}
			}

			.consultant {
				position: absolute;
				left: 0;
				top: 50px;
				> a {
					display: block;
					align-items: center;
					color: #00A3D9;
					font: 600 18px $font;
					text-decoration: none;
					img {
						width: 18px;
						margin-right: 10px;
						position: relative;
						top: 6px;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}

			#logo {
				width: 160px;
				> a {
					display: block;
					width: 100%;
					> img {
						width: 100%;
					}
				}
			}

			.top_nav_right {
				ul {
					display: flex;
					li {
						margin-left: 30px;
					}
				}
			}

			ul > li > a {
				font: 600 16px $font;
				text-decoration: none;
        color: #868686;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
