@import 'vars';

.sidebar {
  width: 300px;

  > div {
    margin-bottom: 30px;
  }

  .news_block {
    display: flex;
    flex-direction: column;
    .block_title {
      font: 600 18px $font;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .post_news {
      .post_new {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        .date_new {
          color: #999;
          font: 400 14px $font;
          margin-bottom: 2px;
        }
        .title_new {
          .link_new {
            color: $main_color;
            text-decoration: none;
            font: 400 16px $font;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .archive_news {
      margin-top: 15px;
      align-self: flex-end;
      > a {
        color: #999;
        font: 400 16px $font;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .calendar {
    width: 300px;
    height: 350px;
    background: lightgoldenrodyellow;
    border: 1px solid #ccc;
    display: flex;
    p {
      align-self: center;
      text-align: center;
      width: 100%;
      font: 300 35px $font;
    }
  }

  .banner_po, .banner_sertificatcia, .open_advisors {
    width: 300px;

    a {
      display: block;
      width: 100%;
      > img {
        width: 100%;
      }
    }
  }

  .open_advisors {
    border: 1px solid #ddd;
    border-radius: 5px;
    a {
      padding: 20px;
    }
  }
}