@import 'vars';
@import 'fonts';

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font-family: $font;
}

ul, ol {
	list-style-type: none;
}

#wrapper {
	width: 100%;
}

a {
  color: $main_color;
  &:hover {
    text-decoration: none;
  }
}

.content {
  padding-right: 30px;
}

@import 'header';

.main_menu {
	ul {
		width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		li {
			> a {
        color: #333;
				text-transform: uppercase;
				font: 600 17px $font;
				text-decoration: none;
				transition: all .2s ease;
				&:hover {
					text-decoration: underline;
					color: $main_color;
				}
			}
		}
	}
}

main {
	margin-top: 40px;
	padding-bottom: 50px;
	.container {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;

		.main {
			width: 870px;
			.posts {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				width: 870px;
				&::after {
					content: '';
					flex: auto;
				}
				.post {
					width: 270px;
					height: 430px;
					background: #fff;
					box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
					margin-right: 20px;
					margin-bottom: 20px;
					transition: all .2s ease;
					&:hover {
						box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
					}

					.post_img {
						display: block;
						width: 100%;
						height: 180px;
						> img {
							width: 100%;
							height: 100%;
						}
					}

					.post_cat_block {
						display: flex;
						justify-content: space-between;
						height: 22px;
						margin-top: -22px;
						.post_cat {
							font: 400 12px $font;
							text-transform: uppercase;
							color: #fff;
							background: rgba(0, 0, 0, 0.6);
							padding: 0 8px;
							line-height: 22px;
						}
						.post_date {
							font: 400 12px $font;
							padding: 0 8px;
							line-height: 22px;
							color: #fff;
							background: $main_color;
						}
					}

					.post_text {
						padding: 12px;
						.post_title {
							margin: 0 0 12px;
							> a {
								display: block;
								font: 600 18px $font;
								color: #00A3D9;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
						}

						.post_desc {
							font: 400 15px $font;
							color: #333;
							height: 140px;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}

.pagination {
  margin-right: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  > li {
    margin: 0 5px;
    > a {
      border: 1px solid #bbb;
      color: #333;
      display: block;
      background: #fff;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      text-decoration: none;
      transition: background .2s ease-in;
      &:hover {
        background: lighten($main_color, 50%);
      }
    }
    > span {
      border: 1px solid #bbb;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: block;
      color: #333;
      background: #fff;
    }
    &.active > span.page-link {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: block;
      border: 1px solid $main_color;
      background: $main_color;
      color: #fff;
    }
    &.disabled > span.page-link {
      color: #999;
      background: #e0e0e0;
    }
    &[aria-disabled=true] > span[aria-hidden=true] {
      line-height: 27px;
    }
    a[rel=next], a[rel=prev] {
      line-height: 27px;
    }
  }
}

.page_title {
  font: 600 20px $font;
  color: $main_color;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.authors {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    > li {
      width: 250px;
      margin-bottom: 30px;
      margin-right: 20px;

      > a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        transition: all .1s ease-in;

        .author_img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto 15px;
          > img {
            width: 100%;
          }
        }

        .author_name {
          color: $text;
          font: 600 18px $font;
          transition: all .2s ease-in;
        }

        &:hover {
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
          > .author_name {
            color: $main_color;
          }
        }
      }

    }
  }
}

.post {
  .post_title {
    font: 600 22px $font;
    color: $main_color;
  }
  .post_authors {
    display: flex;
    margin: 15px 0;
    list-style-type: none;
    padding-left: 0;
    > li {
      margin-right: 25px;
      > a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font: 600 16px $font;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        > .author_img {
          width: 50px;
          height: 50px;
          overflow: hidden;
          margin-right: 8px;
          border-radius: 50%;
          > img {
            width: 100%;
          }
        }
      }
    }
  }

  h3 {
    font: 600 18px $font;
    color: $text;
    margin: 20px 0 10px;
  }
  p {
    font: 400 16px/22px $font;
    color: $text;
    margin: 10px 0;
  }
  ul {
    list-style-type: disc;
    padding-left: 15px;
    > li {
      margin: 10px 0;
      font: 400 16px/22px $font;
    }
  }
}

.page {
  h3 {
    font: 600 18px $font;
    color: $main_color;
    margin: 20px 0 10px;
  }
  p {
    font: 400 16px/22px $font;
    color: $text;
    margin: 10px 0;
  }
  ul {
    list-style-type: disc;
    padding-left: 15px;
    > li {
      margin: 10px 0;
      font: 400 16px/22px $font;
    }
  }
}

@import 'sidebar';
@import 'footer';
